<app-header [showCart]="false" [showSearch]="false"></app-header>
<div class="result-container" [ngClass]="{ success: isApproved, error: !isApproved }">
    <div class="result-header">
      {{ isApproved ? 'Transacción aprobada' : 'Transacción Rechazada' }}
    </div>
  
    <div class="card">
      <h4>📋 Referencia de pago</h4>
      <p>{{ transactionCode }}</p>
    </div>
  
    <div class="card">
      <h4>Fecha de pago</h4>
      <p>{{ formatDate(paymentDate) }}</p>
  
      <h4>Detalle de pago</h4>
      <p>{{ detail }}</p>
      <p>{{ method }}</p>
      <p>$ {{ amount | number: '1.0-0' }}</p>
    </div>
  </div>
