<app-header (search)="updateSearch($event)"></app-header>

<div class="main-layout">
  <app-catalog-filters
    (toggleFilter)="updateFilters($event)"
  ></app-catalog-filters>

  <div class="content-area">
    <div class="active-filters">
      <span
        class="filter-chip roboto-flex-300"
        *ngFor="let filtro of selectedFilters()"
        (click)="removeFilter(filtro)"
      >
        {{ filtro.name }} ×
      </span>
    </div>

    <div class="container-list">
      <app-list-fragrances
        [searchText]="searchText()"
        [filtersInput]="selectedFilters()"
      ></app-list-fragrances>
    </div>
  </div>
</div>
